<%= form_tag(new_booking_path, method: :get) do %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Select Flight</th>
        <th>Flight No.</th>
        <th>Airline</th>
        <th>Depart From</th>
        <th>Destionation</th>
        <th>Depature</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |f| %>
        <tr>
          <td class="text-center"><%= radio_button_tag(:flight, f.id) %></td>
          <td>
            <%= link_to f.short_flight_number, f %>
          </td>
          <td><%= f.airline.name %></td>
          <td><%= f.departure_airport.name %></td>
          <td><%= f.destination_airport.name %></td>
          <td><%= f.departure.strftime("%m/%d %I:%M%p") %></td>
          <td><%= f.arrival.strftime("%m/%d %I:%M%p") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= hidden_field_tag(:num_passengers, params[:num_passengers]) %>

  <div class="row">
      <%= submit_tag("Next", class: "btn btn-block btn-success align-right") %>
  </div>
<% end %>