<%= form_tag("/", method: :get, class: 'form-inline' ) do %>

  <%= select_tag(:departure_airport, 
                 options_for_select(@airports_options), 
                 class: "form-control col mb-2 mr-sm-2 mb-sm-0",
                 prompt: 'Departure Airport') %>
  
  <%= select_tag(:destination_airport, 
                 options_for_select(@airports_options), 
                 class: "form-control col mb-2 mr-sm-2 mb-sm-0",
                 prompt: 'Destination Airport') %>

  <%= select_tag(:departure,
                 options_for_select(@dates),
                 class: "form-control col mb-2 mr-sm-2 mb-sm-0",
                 prompt: "Departure Date") %>
                 
  <%= select_tag(:num_passengers,
                 options_for_select((1..5).to_a),
                 class: "form-control col mb-2 mr-sm-2 mb-sm-0",
                 prompt: "Num. of Passengers") %>
  
  <%= submit_tag("Search", class: "btn btn-primary") %>



<% end %>