<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <%= render 'flights/search_form' %>
      </div>
    </div>
  </div>
  
  <% if @flights && @flights.empty? %>
    <div class="col-md-6">
      <p>No result!</p>
    </div>
  <% elsif @flights.present? %>
    <%= render 'flights/result' %>
  <% end %>
</div>
