<div class="container">

  <div class="row">
    <div class="col">
      <h1><%= @flight.full_flight_number %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <b>From: </b><%= @flight.departure_airport.name %> |
                   <%= @flight.departure_airport.iata %> |
                   <%= @flight.departure_airport.city %>
    </div>
    <div class="col-6 text-right">
      <b>Depart: </b><%= @flight.departure %>
    </div>
    <div class="col-6">
      <b>To: </b><%= @flight.destination_airport.name %> |
                   <%= @flight.destination_airport.iata %> |
                   <%= @flight.destination_airport.city %>
    </div>
    <div class="col-6 text-right">
      <b>Arrival: </b><%= @flight.arrival %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <h5>Passengers</h5>
      <% if @flight.passengers.empty? %>
        <p>No Passenger</p>
      <% else %>
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Booking Number</td>
            </tr>
          </thead>
          <tbody>
            <% @flight.passengers.each do |p| %>
              <tr>
                <td><%= p.name %></td>
                <th><%= p.bookings.where(flight_id: @flight.id).first.id %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

</div>