<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="col">
        <%= @flight.full_flight_number %>
      </div>
      <div class="col">
        From: <%= @flight.departure_airport.name %>
      </div>
      <div class="col">
        To: <%= @flight.destination_airport.name %>
      </div>
    </div>
    <div class="col-6">
      <div class="col">
        Take-off: <%= @flight.departure %>
      </div>
      <div class="col">
        Landing: <%= @flight.arrival %>
      </div>
      <div class="col">
        Duration: <%= @flight.duration %>
      </div>
    </div>
  </div>
  <br>
  <h4>Passenger Information</h4>
  <%= form_for @booking do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>

    <%= f.fields_for :passengers do |passenger| %>
      <div class="form-group">
        <%= passenger.label :name, "Passenger Name:" %>
        <%= passenger.text_field :name, class: "form-control" %>
      </div>
    <% end %>

    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>