<div class="container">
  <h2>Information for Booking #<%= @booking.id %></h2>

  <div class="row">
    <div class="col-6">
      <div class="col">
        <%= @booking.flight.full_flight_number %>
      </div>
      <div class="col">
        From: <%= @booking.flight.departure_airport.name %>
      </div>
      <div class="col">
        To: <%= @booking.flight.destination_airport.name %>
      </div>
    </div>
    <div class="col-6">
      <div class="col">
        Take-off: <%= @booking.flight.departure %>
      </div>
      <div class="col">
        Landing: <%= @booking.flight.arrival %>
      </div>
      <div class="col">
        Duration: <%= @booking.flight.duration %>
      </div>
    </div>
  </div>

  <br>

  <h4>Passenger Information:</h4>
  <div class="row">
    <div class="col">
      <% @booking.passengers.each_with_index do |p, idx| %>
        <p>Passenger #<%= idx + 1%>: <%= p.name %></p>
      <% end %>
    </div>
  </div>
</div>