<div class="container">
  <nav class="navbar navbar-inverse bg-inverse rounded navbar-toggleable-md">
    <button class="navbar-toggler navbar-toggler-right" type="button"
            data-toggle="collapse" data-target="#containerNavbar"
            aria-controls="containerNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= link_to "Flight Booker", root_url, class: "navbar-brand" %>
  </nav>
  <br>
</div>
